server:
  port: 8086
spring:
  main:
    web-application-type: none

  kafka:
    bootstrap-servers: broker:29092
    consumer:
      group-id: whatsapp-in-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      auto-offset-reset: earliest
    properties:
      schema.registry.url: http://schema-registry:8081
      specific.avro.reader: true