ollama:
  api:
    #url: http://localhost:11434
    url: http://host.docker.internal:11435

server:
  port: 8086

spring:

  main:
    web-application-type: reactive

  kafka:
    bootstrap-servers: broker:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    consumer:
      group-id: whatsapp-in-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      auto-offset-reset: earliest
    properties:
      schema.registry.url: http://schema-registry:8081
      specific.avro.reader: true